body {
  cursor: none;
}
::-webkit-scrollbar {
  width: 0px;
}
.nav-background {
  /*background-color: #1a1c1f;*/
  background-color: #0d011c;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.website-icon {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: none;
  border-radius: 50%;
}
@media screen and (min-width: 900px) {
  .website-symbol-container {
    margin-right: 30px;
  }
  .nav-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.nav-button {
  background-color: white;
  margin-left: auto;
}
.nav-text {
  font-size: 17px;
  margin-right: 10px;
  font-family: "roboto";
  cursor: none;
  font-weight: 500;
  text-align: center;
}
.nav-item:hover {
  border: 2px solid #c9004d;
  border-radius: 8px;
}

.home-bg {
  background-image: url("https://res.cloudinary.com/dp6ofrbni/image/upload/v1673674373/My%20Portfolio/backgroundImage2_dvkxbh.jpg");
  background-size: cover;
  height: 100vh;
}
.Home {
  font-family: "Bree serif";
  font-size: 34px;
  color: #ffffff;
}

.name-highlight {
  color: #c9004d;
  font-size: 45px;
  font-weight: bold;
}
.resume-button {
  border-radius: 20px;
  font-family: "open sans";
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 170px;
  cursor: none;
}

.about-bg {
  background-color: #0a0426;
}

.about-heading {
  color: #c9004d;
  font-family: "roboto";
  font-weight: bold;
  font-size: 36px;
}

@media screen and (max-width: 900px) {
  .heading-dash-line {
    color: #0a0426;
  }
}
@media screen and (min-width: 900px) {
  .heading-dash-line {
    margin-left: 20px;
  }
}

.my-image {
  border-radius: 60px;
  height: 500px;
}
.my-image:hover {
  border: 1px solid #c9004d;
  transform: scale(1.05);
  transition: 0.5s;
}
.my-info {
  color: #e8e6f7;
  font-family: "roboto";
  font-size: 19px;
  font-weight: 500;
  text-align: justify;
  line-height: 1.4;
}

.my-interests-heading {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 600;
  color: #e8e6f7;
}

.my-interests-card {
  background-color: #e8e6f7;
  border-radius: 12px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
}
.my-interests-card:hover {
  color: #c9004d;
  transform: scale(1.1);
  transition: 0.5s;
}

.border-green {
  border-left: 8px solid #65a30d;
}

.border-dark-green {
  border-left: 8px solid #0d9488;
}

.border-dark-yellow {
  border-left: 8px solid #ca8a04;
}
.project-section {
  background-color: #f8f8f8;
}
.my-skills-section {
  background-color: #0a0426;
}

.skills-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skill-item {
  border: 2px solid skyblue;
  background-color: #f0f0f0;
  color: black;
  font-family: "open sans";
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
  margin: 8px;
  border-radius: 30px;
}

@media screen and (max-width: 900px) {
  .skills-list {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .skills-list {
    width: 55%;
  }
}
.skill-item:hover {
  border: 2px solid #c9004d;
  color: #c9004d;
  transform: scale(1.1);
  transition: 0.5s;
}
.project-section {
  background-color: #0a0426;
}
.projects-heading {
  color: #c9004d;
  font-family: "roboto";
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 25px;
}
.my-project-card {
  border-radius: 10px;
}
.my-project-card:hover {
  border: 3px solid #c9004d;
}
.twitter-image {
  background-size: cover;
}
.card-description {
  font-size: 15px;
  text-align: justify;
}
.tech-heading {
  font-weight: 500;
}
.tech-text {
  font-style: italic;
}
.load-more-button {
  background-color: #c9004d;
  color: #f8f8f8;
}
.load-more-button:hover {
  background-color: #f8f8f8;
  color: #c9004d;
  border: 2px solid #c9004d;
  transform: scale(1.1);
  transition: 0.5s;
}
@media screen and (max-width: 900px) {
  .my-project-card {
    width: 100%;
  }
  .twitter-image {
    height: 170px;
  }
  .tech-text {
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 900px) {
  .my-project-card {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 260px;
    padding: 12px;
    overflow: auto;
  }

  .twitter-image {
    width: 300px;
    height: 100%;
    background-size: cover;
  }
}
.my-coding-profile {
  background-color: #0a0426;
  padding: 10px;
}
.Coding-profile-image {
  border-radius: 20px;
  width: 38%;
}
.coding-profile-paragraph {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 500;
  color: #e8e6f7;
  margin: 5px;
}
.my-coding-profile-item:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.coding-profile-anchor-tag {
  color: #e8e6f7;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
.steve-jobs-section {
  background-color: #0a0426;
}
.steve-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.steve-heading {
  font-family: "Open Sans";
  color: #e8e6f7;
}

@media screen and (max-width: 920px) {
  .steve-heading {
    font-size: 22px;
  }
  .steve-image {
    width: 100%;
  }
}

@media screen and (min-width: 920px) {
  .steve-heading {
    font-size: 30px;
  }
  .steve-image {
    width: 80%;
  }
}
.steve-highlight {
  font-weight: bold;
  color: #c9004d;
}

.contact-form-container {
  background-color: #0a0426;
}

.contact-bg {
  background-color: #0d011c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-heading {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 30px;
}

.icon-card {
  background-color: #152c3e;
  text-align: center;
  border-radius: 40px;
  height: 50px;
  width: 50px;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 30px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.icon-card:hover {
  background-color: #c9004d;
  transform: scale(1.1);
  transition: 0.5s;
}
.icon {
  font-size: 21px;
  color: #ffffff;
}

.end-line {
  background-color: white;
  width: 70%;
}

.footer-paragraph {
  color: white;
  font-family: roboto;
}

.icon2 {
  color: white;
}
